# Exclude the build directory
build/*
 
# Exclude temp nibs and swap files
*~.nib
*.swp
 
# Exclude OS X folder attributes
.DS_Store

#Exclude original data
data/sunspot_number_all.csv
data/SN_d_tot_V2.0.csv