*{box-sizing:border-box;}
body{
  font-family:Helvetica Neue, Helvetica, Arial, Lucida Grande, sans-serif;
  background-color:#2e4054;
  color: #bed2e0;
}
.header{padding:20px;text-align:center;}
.sticky{
  display: block;
  width: auto;
  padding: 0px;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background-color: #cc274c;
}
.half{
  float:left;
  width: 40%;
  padding: 0px 0px 0px 10px;
  border: 0px;  
}
.counter{
  float:left;
  width: 60%;
  padding: 0px 10px 0px 0px;
  border: 0px;
}
#zenith{
  text-align: right;
  font-size: large;
  font-weight:normal;
}
.top-text{
  font-size: small;
  margin-top: -15px;
}

nav{
  display: block;
  width: 100%;
  box-sizing: inherit;
  text-align: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
}
a{
  text-decoration: none;
  color: #bed2e0;
}
.navlink{
  position:relative;
  padding-left: 1rem;
  padding-right: 1rem;
  font-size: 1rem;
}
.navlink-off,.navlink-on{position:relative}
.navlink-off:after,.navlink-on:after{content:" ";display:block;margin:.125rem auto 0;width:0;height:.125rem;border-radius:.125rem;background:rgba(255,255,255,0);pointer-events:none;transition:all .4s ease}
.navlink-off:hover:after{width:100%;background:#bed2e0;}
.navlink-on:after{width:100%;background:#bed2e0;}
.inline-block{
  display: inline-block;
  vertical-align: top;
}
.column3{
  float:left;
  width: 33.3%;
  padding:10px;
  border:0px;
  text-align: center;
}
.rounded{
  border:1px dashed;
  border-radius: 50%;
  text-align: center;
  width: 100px;
  height: 100px;
  margin-left: auto;
  margin-right: auto;
}
.column3 p{font-size: medium;}
/*2 columns*/
.column{
  float:left;
  width: 50%; /*for 3 ->33.3%*/
  padding:10px;
  border:0px;
}
.row{padding: 0px;text-align:center;}
.row:after{
  content:"";
  display:table;
  clear:both;
  padding:0px;
}
.align-left{text-align: left;}
.align-right{text-align: right;}
.bottom-left{
  border:0px;
  position:absolute;
  top:50%;/*8px;*/
  left:50%;/*16px;*/
  transform:translate(-50%,-50%);}
.container{
  border:0px;
  position:relative;
  color:#cc274c;
  width: 100%;
}
panel2,.flip{
  font-size:16px;
  padding:10px;
  text-align:center;
  background-color:#2e4054;
  color:white;
  border:solid 1px #cc274c;
  margin:auto;
}
#panel2{display:none;}
div{
  border:1px solid #2e4054;
  padding:0px;
  text-align:left;
}
.clearfix::after{
  content:"";
  clear:both;
  display:table;
}
.clearfix{text-align: center;}
/*SVG*/
.highlight{fill: #cc274c;}
.bar{fill:#bed2e0}
.val{color:whitesmoke;}
svg g{color:#bed2e0;}
.domain, svg line{stroke: #bed2e0;}
svg text{fill:#bed2e0;}
/*Table schedule*/
#myday{
  border-collapse:collapse;
  width:100%;
}
#myday td,#myday th{
  border:1px solid #ddd;
  padding:10px;
  text-align:left;
  background-color:#bed2e0;
  color:#2e4054;
}
#myday tr:nth-child(even){background-color:#f2f2f2;}
#myday tr:hover{background-color:#ddd;}
/*table cols title
#myday th{
    padding-top:12px;
    padding-bottom:12px;
    text-align:left;
    background-color:#4caf50;
    color:white;
}*/
.accordion{
  /*background-color:#bed2e0;*/
  color:#bed2e0;
  cursor:pointer;
  padding:18px;
  width:100%;
  border:none;
  outline:none;
  font-size:18px;
  transition:0.4s;
}
/*.active, .accordion:hover{
  background-color:#cc274c;
  color:#bed2e0;
}*/
.accordion:after{
  content:'\02193';/*Down*/
  color:#bed2e0;
  font-size: x-large;
  /*'\02795';
  background-color: #bed2e0;*/
  float:right;margin-left:5px;
}
.active:after{
  content:'\02191';/*Up*/
  color:#bed2e0;
  font-size: x-large;
  /*content:"\02796";
  background-color: #bed2e0;*/}
.panel{
  padding:0 18px;
  display:none;
  background-color:#e5e5e5;
  overflow:hidden;
}
button{
background-color:#2e4054;
color:white;
text-align:center;
}
.mySNS{padding:5px;}
.copy-left{
  display:inline-block;
  text-align:right;margin:0px;
  -moz-transform:scaleX(-1);
  -o-transform:scaleX(-1);
  -webkit-transform:scaleX(-1);
  transform:scaleX(-1);
  filter:FlipH;-ms-filter:"FlipH";
}

/*Responsive layout to stack cols on top of each other
@media only screen and (max-width:620px){
*/
@media (max-width:800px){
    .menu, .column{
      width:100%;
      text-align: justify;
    }
    svg{
      width: 100%;
      padding: 0px;
      margin: 0px -20px 0px -20px;
    }
    #weather_bar{padding: 0px;}
    #zenith{font-size: large;}
    .align-left,.align-right{text-align: center;}
}
