*{box-sizing:border-box;}
body{
  font-family:Helvetica Neue, Helvetica, Arial, Lucida Grande, sans-serif;
  background-color:#2e4054;
  color: #bed2e0;
  margin: 0;
}
.header{padding:20px;text-align:center;}

nav.top-menu{
  display: block;
  width: 100%;
  box-sizing: inherit;
  text-align: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
}
a{text-decoration: none;color: #bed2e0;}
.navlink{
  position:relative;
  padding-left: 1rem;
  padding-right: 1rem;
  font-size: 1rem;
}
.navlink-off,.navlink-on{position:relative}
.navlink-off:after,.navlink-on:after{content:" ";display:block;margin:.125rem auto 0;width:0;height:.125rem;border-radius:.125rem;background:rgba(255,255,255,0);pointer-events:none;transition:all .4s ease}
.navlink-off:hover:after{width:100%;background:#bed2e0;}
.navlink-on:after{width:100%;background:#bed2e0;}
.inline-block{
  display: inline-block;
  vertical-align: top;
}
.large{font-size: 40px;font-weight: 200;}
/*#curr_weather{background-image: url('assets/cloud-heavy.svg');}*/
.column4{
  float:left;
  width: 25%;
  padding:0px;
  border:0px;
  text-align: center;
}
.column3{
  float:left;
  width: 33.3%;
  padding:25px;
  border:0;
  text-align: center;
}
.column3 p{font-size: medium;}
/*2 columns*/
.column{
  float:left;
  width: 50%;
  padding:10px;
  border:0px;
}

.row{padding: 0px;text-align:center;}
.row:after{
  content:"";
  display:table;
  clear:both;
  padding:0px;
}
.align-left{text-align: left;}
.align-right{text-align: right;}

.container{
  border:0px;
  position:relative;
  width: 100%;
  padding:0px 5px;
  text-align: center;
  height: 150px;
}
.container p{text-align: justify;}
.card{
  border-radius: 3%;
  border:1px #bed2e0 solid;
  background-color: #bed2e040;
  color:#bed2e0;
  text-align: center;
  box-shadow: 0 4px 8px 0 rgba(250,250,250,0.2);
  transition: 0.3s;
  padding: 10px;
}
.small{  
  font-size: small;color: lightsalmon;/*#898989;*/
}
.proj_stats{
  display: none;
  position: fixed;
  z-index: 1; /* Sit on top */
  padding: 20px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow:auto; /* Enable scroll if needed */
  background-color: #2e4054; /* rgba(250,250,250,0.9); Black w/ opacity */
}
#projects{padding: 20px;}
ul{
  list-style-type: none;
  padding: 0;margin: 0;
}
.mod-content{
  color: #bed2e0;
  padding: 20px;
}
.closeBtn{float: right;font-size: 40px;}

panel2,.flip{
  font-size:16px;
  padding:10px;
  text-align:center;
  background-color:#2e4054;
  color:white;
  border:solid 1px #cc274c;
  margin:auto;
}
#panel2{display:none;}

.clearfix::after{
  content:"";
  clear:both;
  display:table;
}
.clearfix{text-align: center;padding: 10px;}

.mySNS{padding:5px;}
.copy-left{
  display:inline-block;
  text-align:right;margin:0px;
  -moz-transform:scaleX(-1);
  -o-transform:scaleX(-1);
  -webkit-transform:scaleX(-1);
  transform:scaleX(-1);
  filter:FlipH;-ms-filter:"FlipH";
}
.proj_stats img{width:70%;}
#nav-menu{display: none;}

/*Responsive layout to stack cols on top of each other
@media only screen and (max-width:620px){*/
@media (max-width:800px){
  .menu, .column{
    width:100%;
    text-align: justify;
    padding: 0px;
  }
  #nav-menu{display: block;}
  .column3{width: 100%;margin-bottom: 20px;}
  .column3{padding: 0px;}
  .column4{width: 50%;}
  .proj_stats{text-align: center;}
  .align-left,.align-right{text-align: center;}
  nav.menu{
    bottom:0;
    position: -webkit-sticky;
    position: sticky;
    height: 56px;
    z-index: 2000;
    background-color: #bed2e0;
  }
  nav.menu ul{  
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  nav.menu ul li a{
    display: inline-flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    font-size: .8rem;
  }
  .link-on{color: #cc274c;}
  .link-off{color: #2e4054;}
  nav.menu ul li{flex: 1;}
  nav.menu ul li a img{width: 1.15rem;height: 1.15rem;}
}
