:root{
    --smoke: #2e4054;
    --wine: #cc274c;
    --dark-smoke:#6a7285;
    --light-sky:#bed2e0;
    --darkish-sky:#bed2e040;
    --lemon: #ffeea6;
    --sky-blue: #87ceeb;
}
body {
    font-family:Helvetica Neue, Helvetica, Arial, Lucida Grande, sans-serif;
    background-color:var(--smoke);
    color:var(--light-sky);
    margin: 0;
    /*min-width: 350px;*/
}

/* Include the padding and border in an element's total width and height */
* {box-sizing: border-box;}

a{
    text-decoration: none;
    color: var(--light-sky);
}

/* Remove margins and padding from the list */
#todoList, #doingList {margin: 0;padding: 0;border:1px var(--light-sky) dashed;}
/* Style the list items */
.column ul li {
position: relative;
padding: 12px 8px 12px 40px;
list-style-type: none;
transition: 0.2s;
/* make the list items unselectable */
-webkit-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
}
/* Set all odd list items to a different color (zebra-stripes) */
.column ul li:nth-child(odd) {
background: #98a2a9;
color:var(--smoke);
}
/* When clicked on, add a background color and strike out text */
.column ul li.checked {
background: var(--darkish-sky);
color: var(--light-sky);
text-decoration: line-through;
}
/* Add a "checked" mark when clicked on */
.column ul li.checked::before {
    content: '';
    position: absolute;
    border-color: var(--lemon);
    border-style: solid;
    border-width: 0 2px 2px 0;
    top: 10px;
    left: 16px;
    transform: rotate(45deg);
    height: 15px;
    width: 7px;
}

/* Style the close button */
.close {
    position: absolute;
    right: 0;
    top: 0;
    padding: 10px 20px 10px 10px;
    font-size: 20px;
}
.close:hover {background-color: var(--wine);color: var(--light-sky);}

/* Style the header */
.header {
    background-color: var(--light-sky);
    padding: 20px 10px;
    color: var(--smoke);
    text-align: center;
}

/* Clear floats after the header */
.header:after {
    content: "";
    display: table;
    clear: both;
}

/* Style the input */
#my_task {
    margin: 0;
    border: 1px var(--smoke) solid;
    width: 75%;
    padding: 11px;
    float: left;
    background-color: var(--light-sky);
}

/* Style the "Add" button */
.addBtn {
    padding: 10px;
    width: 25%;
    background: var(--smoke);
    color: var(--light-sky);
    float: left;
    text-align: center;
    cursor: pointer;
    transition: 0.3s;
    border-radius: 0;
}

.mySNS{padding:10px;}
.clearfix{display: block;text-align: center;}
.column{
    float: left;
    width: 50%;
    padding:10px;
}
#lists{width: 100%;height: 700px;}
.align-left{text-align: left;}
.align-right{text-align: right;}
.align-right img{padding: 10px;}
.copy-left{
    display:inline-block;
    text-align:right;margin:0px;
    -moz-transform:scaleX(-1);
    -o-transform:scaleX(-1);
    -webkit-transform:scaleX(-1);
    transform:scaleX(-1);
    filter:FlipH;-ms-filter:"FlipH";
}
#nav-menu, .no-desktop{display: none;}

@media (max-width:800px){
    .no_mobil{display: none;}
    .column{
      width:100%;
      text-align: justify;
    }
    #lists{height: auto;}
    .column ul li{padding: 28px 25px 15px 40px;}
    .close{padding: 1px 10px 25px 10px;font-size: 25px;}
    .align-left,.align-right{text-align: center;}
    /*#nav-menu{display: block;}
    nav.menu{
        bottom:0;
        position: -webkit-sticky;
        position: sticky;
        height: 56px;
        z-index: 2000;
        background-color: var(--light-sky);
    }
    nav.menu ul{  
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    nav.menu ul li a{
        display: inline-flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        font-size: .8rem;
    }
    .link-on{color: var(--wine);}
    .link-off{color: var(--smoke);}
    nav.menu ul li{flex: 1;}
    nav.menu ul li a img{width: 1.15rem;height: 1.15rem;}*/
}
